@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --border: #e5e5e5;
  --muted: #737373;
  --accent: #1bff1b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
